@{
    var identity = (System.Security.Claims.ClaimsPrincipal)System.Threading.Thread.CurrentPrincipal;
    var role = identity.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}
@if (role == "3")
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Gestión de Cobranza", "Index", "Adviser")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>Otro menú</li>
    </ul>
}